body{
  background-color: #20c997;

}
.mas{
  width: 100%;
  height: 160px;
  background-color: #343a40;
}
.mas h2{
  text-align: center;
  color: #fff;
  padding: 16px 16px;
}
header{
  background-color:#dc3545 ;
  width: 100%;
  height:auto;
}
.navbar{
  width: 100%;
  height: auto;
}
header .navbar ul{
 position: relative;
 overflow: hidden;
 display: block;
 list-style-type: none;
}
li{
  float: left;
}
li a{
  display: block;
  padding: 16px 16px;
  font-size: 1.6rem;
  text-decoration: none;
  color: #fff;
  
}
li a:hover{
  border-bottom: 2px solid #fff;
  color: #20c997;
  transition: all 0.4s;    
}
#main{
  width: 90%;
  margin-right: auto;
  margin-left: auto;
}
pre{
  font-size: 1rem;
  color: #343a40;
  background-color: #f6f6f6;
  width: 400px;
  margin-left: 16px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.4);
}
@media (min-width:320px) and (max-width:600px) {
  .mas{
  width: 100%;
  height: 60px;
  
  background-color: #036;
}
.mas h2{
  font-size: 16px;
}
li a{
  display: block;
  padding: 10px 10px;
  font-size: 1rem;
  text-decoration: none;
  color: #fff;
  
}
  pre{
    width: 300px;
    margin-left:0;
  }
}
 
 